
@model IEnumerable<WebsiteDuLichDiaPhuong.Models.HUYEN>

@helper Truncate(string input, int length) 
{ 
    if(input.Length < length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}

@{
    ViewBag.Title = "DanhSachQuanHuyen";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="padding-top: 20px; margin-left: 10px">DANH SÁCH QUẬN, HUYỆN</h2>
<p style="margin-left: 10px">
    
</p>

<table class="table table-bordered table-hover" border="2px" style=" padding-top: 30px; margin-left: 10px; margin-right: 20px">
    <tr>
        <th style="text-align: center">
            Mã huyện
        </th>
        <th style="text-align: center">
            Tên quận/huyện
        </th>
        <th style="text-align: center">
            Miêu tả
        </th>
        <th style="text-align: center">
            Chức năng
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align: center">
                @Html.DisplayFor(modelItem => item.MaHuyen)
            </td>
            <td style="text-align: center">
                @Html.DisplayFor(modelItem => item.TenHuyen)
            </td>
            <td>
                @Truncate(item.MieuTa, 80)
            </td>
            <td>
                @Html.ActionLink("Tạo mới", "ThemQuanHuyenMoi", "Admin", new { @class = "btn btn-success" })
                @Html.ActionLink("Chỉnh sửa", "SuaQuanHuyen", new { id = item.MaHuyen }, new { @class = "btn btn-info" })
                @Html.ActionLink("Chi tiết", "ChiTietQuanHuyen", new { id = item.MaHuyen }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Xóa", "XoaQuanHuyen", new { id = item.MaHuyen }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>
